---
layout: default
templatename: article-page
---
<div id="page-content" class="clearfix">
  {% if page.forreview %}
  <div id="review-tools">
    <div class="todos">
        <h4>TODO</h4>
        {{page.todo | markdownify}}
    </div>
    <a href="https://github.com/madaboutcode/madaboutcode.github.com/blob/master/{{page.path}}" target="_blank">
      Open post in github
    </a>
  </div>
  {% endif %}
  <article id="article-body">
    <header>
      <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <aside class="info">
        {{ page.date | date_to_string }}
      </aside>
    </header>
    {{ content }}
  </article>
</div>
